branches/dayeasy.markingtool_20141007/Deyi.Tool40/Service References/UserServiceReference/user_service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.dayez.net/" elementFormDefault="qualified" targetNamespace="http://www.dayez.net/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://srv.dayez.net/user/user_service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DayEZ.Framework" />
  <xs:import schemaLocation="http://srv.dayez.net/user/user_service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DayEZ.API.User.Entity.User" />
  <xs:import schemaLocation="http://srv.dayez.net/user/user_service.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="IsNicknameUnique">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsNicknameUniqueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DayEZ.Framework" minOccurs="0" name="IsNicknameUniqueResult" nillable="true" type="q1:ResultPacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsEmailUnique">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsEmailUniqueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DayEZ.Framework" minOccurs="0" name="IsEmailUniqueResult" nillable="true" type="q2:ResultPacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DayEZ.API.User.Entity.User" minOccurs="0" name="model" nillable="true" type="q3:UserLoginInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DayEZ.Framework" minOccurs="0" name="UserLoginResult" nillable="true" type="q4:ResultPacket" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DayEZ.API.User.Entity.User" minOccurs="0" name="userBasicInfo" nillable="true" type="q5:UserLoginResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRegiste">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DayEZ.API.User.Entity.User" minOccurs="0" name="model" nillable="true" type="q6:UserRegisteInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRegisteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DayEZ.Framework" minOccurs="0" name="UserRegisteResult" nillable="true" type="q7:ResultPacket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalStudentCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalStudentCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTotalStudentCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvatar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvatarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAvatarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyAgencyUserIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:long" />
        <xs:element minOccurs="0" name="agencyID" type="xs:long" />
        <xs:element minOccurs="0" name="subjectID" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyAgencyUserIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetMyAgencyUserIDsResult" nillable="true" type="q8:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherAgencyUserIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:long" />
        <xs:element minOccurs="0" name="agencyID" type="xs:long" />
        <xs:element minOccurs="0" name="subjectID" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherAgencyUserIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetOtherAgencyUserIDsResult" nillable="true" type="q9:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNicknames">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="userIDs" nillable="true" type="q10:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNicknamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetNicknamesResult" nillable="true" type="q11:ArrayOfKeyValueOflongstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassIDNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agencyID" type="xs:long" />
        <xs:element minOccurs="0" name="userID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassIDNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetClassIDNamesResult" nillable="true" type="q12:ArrayOfKeyValueOflongstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentIDIDNos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="classID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentIDIDNosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetStudentIDIDNosResult" nillable="true" type="q13:ArrayOfKeyValueOflongstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserIDTrueNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="arrUserID" nillable="true" type="q14:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserIDTrueNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetUserIDTrueNamesResult" nillable="true" type="q15:ArrayOfKeyValueOflongstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentCodeTrueNameByUserIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="arrUserID" nillable="true" type="q16:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentCodeTrueNameByUserIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetStudentCodeTrueNameByUserIDsResult" nillable="true" type="q17:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentCodeTrueName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="arrIDNo" nillable="true" type="q18:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentCodeTrueNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetStudentCodeTrueNameResult" nillable="true" type="q19:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>